<html>
<head>
    <meta charset="UTF-8">
    <title>Recuperar Password</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Olá {{data.name}},</h1>
<p>
    Para proceder à alteração da password, basta clicar <a href="{{data.url}}">aqui</a>.
</p>
<h2>Dúvidas?</h2>
<p>
    Contacte-nos:
    <br>
    <a href="mailto:vendas@nicistore.com">vendas@nicistore.com</a>
</p>
<hr>
<footer>
    A Equipa NICI Store
    <br>
    <a href="{{base.storefrontUrl}}">nicistore.com</a>
</footer>
</body>
</html>
