<html>
<head>
    <meta charset="UTF-8">
    <title>Encomenda pendente</title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Olá {{data.order.customer.name}},</h1>
<p>
    Verificamos que a sua encomenda ainda não foi paga e relembramos que tem oportunidade para o fazer nas próximas 48h.
</p>
<p>
    Caso não seja confirmado o pagamento neste prazo, a sua encomenda será cancelada.
</p>
<p>
    Assim que tivermos confirmação do pagamento, enviaremos a sua encomenda.
</p>
<br />
<p>
    Se tiver alguma dúvida, não hesite em <a href="mailto:vendas@nicistore.com">contactar-nos</a>.
</p>
<p>
    <strong>Obrigado pela preferência</strong>
</p>
<hr>
<footer>
    A Equipa NICI Store
    <br>
    <a href="{{base.storefrontUrl}}">nicistore.com</a>
</footer>
</body>
</html>
